<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--扫描实体类的包，方便sql映射文件的使用-->
    <typeAliases>
        <package name="cn.appsys.pojo"/>
    </typeAliases>
</configuration>